- @subtitle = "Add New Pre-Survey Results (Part 2)"
- section_and_num_questions = {5 => 2, 6 => 4}

%span
  %p Enter the correct number for each section.
  = form_for @presurvey_part2_fields, :url => {:action => :create}, :html => {:class => "form_to_validate"} do |f|
    = render :partial => "presurveys/sections", :locals => {:f => f, :section_and_num_questions => section_and_num_questions}
    = fields_for @efficacy_fields do |e|
      = render :partial => "presurveys/efficacy", :locals => {:e => e, :num_questions => 10}
    #submit
      = submit_tag 'Save Changes'
