- @subtitle = 'Pending Users'

= form_tag update_pending_users_path, :method => :post, :id => 'pending_users_form' do
  %table#pending_users
    %thead
      %tr
        %th Name
        %th Email
        %th College
        %th School Name
        %th School City
        %th School County
        %th Semester
        %th Year
        %th Approve
        %th Disapprove
    %tbody
      - @pending_users.each do |user|
        %tr
          %td= user[:name]
          %td= user[:email]
          %td= text_field_tag "colleges[#{user[:id]}]", user[:college], :class => "pending_text_inputs"
          %td= text_field_tag "school_names[#{user[:id]}]", user[:school_name], :class => "pending_text_inputs"
          %td= text_field_tag "school_cities[#{user[:id]}]", user[:school_city], :class => "pending_text_inputs"
          %td= text_field_tag "school_counties[#{user[:id]}]", user[:school_county], :class => "pending_text_inputs"
          %td= select_tag "semester_names[#{user[:id]}]", options_for_select(%w[Fall Winter Spring Summer], :selected => user[:semester_name]), :style => "width: 85px;"
          %td= select_year(user[:semester_year], :field_name => user[:id], :start_year => 2005, :end_year => Time.now.year + 5)
          %td= check_box_tag "approves[#{user[:id]}]", 1, false, :id => "approves_#{user[:id]}", :style => "width: 30px;"
          %td= check_box_tag "disapproves[#{user[:id]}]", 1, false, :id => "disapproves_#{user[:id]}", :style => "width: 30px;"
  = submit_tag 'Update', :id => 'update_submit', :style => "margin: 10px;"
