- @subtitle = "Portal"

=link_to "Add Pre-Survey Part 1 Results", new_presurveys_part1_path
=link_to "Add Pre-Survey Part 2 Results", new_presurveys_part2_path
=link_to "Add Post-Survey Results", new_postsurvey_path
=link_to "Add Food Journal", new_foodjournal_path
=link_to "Preview Report/Add Ambassador Comments", new_report_path
%br
%br

%h3 Pre-Surveys
%table
  %tbody
    %tr
    - @current_user.presurvey1s.each do |survey|
      %td
        - survey.attributes.each do |k,v|
          - if k[/section/]
            = "Section #{k.split('_')[1]}: #{v}"
            %br
          - if k[/efficacy/]
            = "Efficacy #{k.split('_')[1]}: #{v}"
            %br
        = button_to "Edit Pre-Survey 1", edit_presurveys_part1_path(survey), :method => :get, :id => "edit_pre_survey_#{survey.id}"

%h3 Post-Surveys
%table
  %tbody
    %tr
    - @current_user.postsurveys.each do |survey|
      %td
        = questions = survey.questions
        - 0.upto(Postsurvey.numQuestions - 1).each do |num|
          = "Question #{num}: #{questions[num] if questions.count > num}"
          %br
        = efficacies = survey.efficacies
        - 0.upto(Postsurvey.numEfficacies - 1).each do |num|
          = "Efficacy #{num}: #{efficacies[num]}"
          %br
        = button_to "Edit Post-Survey", edit_postsurvey_path(survey), :method => :get, :id => "edit_post_survey_#{survey.id}"
