- @subtitle = "Portal"

- if @current_user.admin?
  = link_to("Pending Users", pending_users_path)
  |
  = link_to("All Users", all_users_path)
  | 
  = link_to("Add New School", new_school_path)
  | 
  = link_to("Show All Schools", schools_path)
  | 
  = link_to("Add New Administrator", new_admin_path)
  |
  = link_to("Cumulative Reports", all_efficacies_path)
  |
= link_to "Add Pre-Survey Part 1 Results", new_presurveys_part1_path
| 
= link_to "Add Pre-Survey Part 2 Results", new_presurveys_part2_path
| 
= link_to "Add Post-Survey Results", new_postsurvey_path
| 
= link_to "Add Food Journal", new_foodjournal_path
| 
= link_to "Preview Report/Add Ambassador Comments", new_report_path
%br
%br

- if not @current_user.postsurveys
  Total Number of Students:
  = @current_user.postsurveys.first.number_students
  %br
  %br

%table.table
  %thead
    %tr
      %th Pre-Survey Part 1
      %th Pre-Survey Part 2
      %th Post-Surveys
      %th Food Journals
  %tbody
    %tr
      %td
        - if @current_user.admin?
          - Presurvey::Part1.all.each do |survey|
            = render :partial => "ps1", :locals => {:survey => survey}
        - else
          - @current_user.presurvey_part1s.each do |survey|
            = render :partial => "ps1", :locals => {:survey => survey}
      %td
        - if @current_user.admin?
          - Presurvey::Part2.all.each do |survey|
            = render :partial => "ps2", :locals => {:survey => survey}
        - else
          - @current_user.presurvey_part2s.each do |survey|
            = render :partial => "ps2", :locals => {:survey => survey}
      %td
        - if @current_user.admin?
          - Postsurvey.all.each do |survey|
            = render :partial => "ps", :locals => {:survey => survey}
        - else
          - @current_user.postsurveys.each do |survey|
            = render :partial => "ps", :locals => {:survey => survey}
      %td
        - if @current_user.admin?
          - FoodJournal.all.each do |journal|
            = render :partial => "fj", :locals => {:journal => journal}
        - else
          - @current_user.food_journals.each do |journal|
            = render :partial => "fj", :locals => {:journal => journal}
