= f.label "Fruit"
= f.text_field "fruit"
%br
= f.label "Vegetable"
= f.text_field "vegetable"
%br
= f.label "Sugary Drink"
= f.text_field "sugary_drink"
%br
= f.label "Water"
= f.text_field "water"
%br
