= f.label "Fruit"
= f.text_field "fruit", :class => "numeric_input_field"
%br
= f.label "Vegetable"
= f.text_field "vegetable", :class => "numeric_input_field"
%br
= f.label "Sugary Drink"
= f.text_field "sugary_drink", :class => "numeric_input_field"
%br
= f.label "Water"
= f.text_field "water", :class => "numeric_input_field"
%br
