- @subtitle = "Add New Food Journal"

%span
  = form_for @food_journal_main_fields, :url => {:action => :create}  do |l|
    %table.table
      = label :food_journal, "Student Name"
      = l.text_field "student_name", :class => "text_input_field"
      %tr
        %td
          = label :food_journal, "Week Number 1"
        %td
          = label :food_journal, "Enter Week Number."
          = l.text_field "week_num", :class => "numeric_input_field"
        %td
          = label :food_journal, "Week Number 8"
      %tr
        %td
          %p Enter the number of servings.
      %tr
        %td
          = fields_for :food_journal_week_1_fields do |f1|
            = render :partial => "servings", :locals => {:f => f1}
        %td
          = fields_for :food_journal_week_x_fields do |f2|
            = render :partial => "servings", :locals => {:f => f2}
        %td
          = fields_for :food_journal_week_8_fields do |f3|
            = render :partial => "servings", :locals => {:f => f3}
    #submit
      = submit_tag 'Save Changes'
