- @subtitle =  "Add New Food Journal"

%span
  = form_for @food_journal_fields, :url => {:action => :create} do |f|
    = label :food_journal, "Week Number"
    = f.text_field "week_num"
    %br
    = label :food_journal, "Student Name"
    = f.text_field "student_name"
    %br
    %br

    %p Enter the number of servings.
    = label :food_journal, "Fruit"
    = f.text_field "fruit"
    %br
    = label :food_journal, "Vegetable"
    = f.text_field "vegetable"
    %br
    = label :food_journal, "Sugary Drink"
    = f.text_field "sugary_drink"
    %br
    = label :food_journal, "Water"
    = f.text_field "water"
    %br
    #submit
      = submit_tag 'Add More Results'
