= f.label "Name"
= f.text_field "name", :class => "text_input_field"
= f.label "County"
= f.text_field "county", :class => "text_input_field"
= f.label "City"
= f.text_field "city", :class => "text_input_field"
