- @subtitle = "All Schools"

%table.table
  %thead
    %tr
      %th Name
      %th County
      %th City
  %tbody
    - @all_schools.each do |school|
      %tr
        %td
          = school.name
        %td
          = school.county
        %td
          = school.city
        %td
          = button_to "Edit #{school.name}", edit_school_path(school.id), :method => :get, :id => "edit_school_#{school.id}"
