- @subtitle =  "Add New Post-Survey Results"

= form_for @postsurvey_fields do |f|

  - 21.times do |i|
    = label :postsurveys, "section_#{i + 1}", "Section #{i + 1}"
    = f.text_field "section_#{i + 1}"
    %br

  - 10.times do |i|
    = label :postsurveys, "efficacy_#{i + 1}", "Efficacy #{i + 1}"
    = f.text_field "efficacy_#{i + 1}"
    %br
 
  = label :postsurveys, "number_students", "Number of Students"
  = f.text_field "number_students"
  %br

  = submit_tag 'Add More Results'
