%h2 Add new post-survey results

= form_tag presurveys_path do

  = label :presurvey, :school, 'School'
  %select{:name => "school"}
    - @all_schools.each do |school|
      %option= school.name

  <br />
  - 6.times do |i|
    = label :presurvey, "section_#{i + 1}", "Section #{i + 1}"
    = text_field :presurvey, "section_#{i + 1}"
    <br />

  - 10.times do |i|
    = label :presurvey, "efficacy_#{i + 1}", "Efficacy #{i + 1}"
    = text_field :presurvey, "efficacy_#{i + 1}"
    <br />

  = submit_tag 'Save Changes'
