- @subtitle = "Add New Post-Survey Results"

= form_for @postsurvey_fields do |f|

  = label :postsurvey, :school, 'School'
  %select{:name => "school"}
    - @all_schools.each do |school|
      %option= school.name

  <br />
  - 6.times do |i|
    = label :postsurvey, "section_#{i + 1}", "Section #{i + 1}"
    = f.text_field "section_#{i + 1}"
    <br />

  - 10.times do |i|
    = label :postsurvey, "efficacy_#{i + 1}", "Efficacy #{i + 1}"
    = f.text_field "efficacy_#{i + 1}"
    <br />

  = submit_tag 'Save Changes'
