%p Enter the number of surveys where students selected ‘agree’ or ‘strongly agree’ only

- num_questions.times do |i|
  = e.label "efficacy_#{i + 1}", "Number #{i + 1}"
  = e.text_field "efficacy_#{i + 1}", :class => "numeric_input_field"
  %br
