- section_and_num_questions.each do |section,questions|
  - questions.times do |i|
    = label :postsurveys, "section_#{section}_#{i + 1}", "Section #{section} Number #{i + 1}"
    = f.text_field "section_#{section}_#{i + 1}"
    %br
