- @subtitle =  "Add New Pre-Survey Results (Part 1)"

= form_for @presurvey_fields, :url => {:action => :update} do |f|

  - 6.times do |i|
    = label :presurveys, "section_#{i + 1}", "Section #{i + 1}"
    = f.text_field "section_#{i + 1}"
    %br

  - 10.times do |i|
    = label :presurveys, "efficacy_#{i + 1}", "Efficacy #{i + 1}"
    = f.text_field "efficacy_#{i + 1}"
    %br

  = label :presurveys, "number_students", "Number of Students"
  = f.text_field "number_students"
  %br

  = submit_tag 'Save Changes'

= button_to 'Previous', :portal, :method => :get
