= render :partial => 'generate_report'

%h2= @main_title
%h4= @static_contents[:intro_title]
%p= @static_contents[:introduction]
%h4= @school_intro_title
%p= @school_intro
%h4= @static_contents[:objectives_title]

%table
  %tr
    %th Lesson
    %th Objective
  - @objectives.each do |item1, item2|
    %tr
      %td= item1
      %td= item2

%h4= @static_contents[:eval_title]
%p= @eval_intro
%h4= @strength_weakness_title
%p= @static_contents[:strength_weakness_intro] 
%p= @static_contents[:strength_intro]
%p= @strengths
%p= @static_contents[:weakness_intro]  
%p= @weaknesses
%p= @static_contents[:summary]
