-# = render :partial => 'generate_report'

%p{:style => "width: 100%; height: 60px; margin: 0 auto;"}
  The following is a preview
  %br
  In order to generate a PDF rerport, add comments at the bottom of the page
%h2= @main_title
%h4= @static_contents[:intro_title]
%p= @static_contents[:introduction]
%h4= @school_intro_title
%p= @school_intro
%p= @school_intro_second
%p= @school_intro_third
%h4= @static_contents[:objectives_title]

%table
  %tr
    %th Lesson
    %th Objective
  - @objectives.each do |item1, item2|
    %tr
      %td= item1
      %td= item2

%h4= @static_contents[:eval_title]
%p= @eval_intro_first
%p= @eval_intro_second
%p= @eval_intro_third
%h4= @strength_weakness_title
%p= @static_contents[:strength_weakness_intro] 
%h4= @static_contents[:strength_intro]

%table
  %tr
  - @strengths.each do |key, strength|
    %tr
      %td= strength

%h4= @static_contents[:weakness_intro]  

%table
  %tr
  - @weaknesses.each do |key, weakness|
    %tr
      %td= weakness
%p
%p= @static_contents[:summary]

%h4= @ambassadorNoteTitle
-# %p= @report.note
= render :partial => 'comment_form'
