%div{:style => "float: left; width: 250px;"}
  - @subtitle = "Portal"
  - if @current_user.admin?
    = link_to("Pending Users", pending_users_path)
    %br
    = link_to("Add New School", new_school_path)
    %br
    = link_to("Show All Schools", schools_path)
    %br
    = link_to("Add New Administrator", new_admin_path)
    %br
  = link_to "Add Pre-Survey Part 1 Results", new_presurveys_part1_path
  %br
  = link_to "Add Pre-Survey Part 2 Results", new_presurveys_part2_path
  %br
  = link_to "Add Post-Survey Results", new_postsurvey_path
  %br
  = link_to "Add Food Journal", new_foodjournal_path
  %br
  = link_to "Preview Report/Add Ambassador Comments", new_report_path
  %br
  %br

