!!! 5
%html
  %head
    %title Fruitful Minds - #{@subtitle}
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    :css
      .background, #main{
        padding: 10px 20px 10px 20px;
      }
      #header span{
        font-weight: 500;
        position: relative;
      }
      #title{
        font-size: x-large;
        top: -10px;
      }
      #subtitle{
        font-size: large;
        top: -10px;
      }
      #user_control{
        float: right;
        position: relative;
      }
      .user_action{
        margin: 0px 0px 0px 10px;
      }
      #survey_options{
        padding: 20px 0px 0px 0px;
      }

  :javascript
    $(document).ready(function(){
      $(".numeric_input_field").focusout(function(){
        if (!$.isNumeric($(this).val()) || $(this).val() < 0){
          $(this).css("background-color", "red");
          $(this).css("color", "white");
          alert("<" + $(this).val() + ">" + " is an invalid input.");
        }
        else{
          $(this).css("background-color", "white");
          $(this).css("color", "black");
        }
      });
      $(".text_input_field").focusout(function(){
        if (!this.value){
          $(this).css("background-color", "red");
          $(this).css("color", "white");
          alert("The field cannot be empty.");
        }
        else if (!this.value.trim()){
          $(this).css("background-color", "red");
          $(this).css("color", "white");
          alert("The field cannot only contain white space.");
        }
        else{
          $(this).css("background-color", "white");
          $(this).css("color", "black");
        }
      });
      $("form").submit(function(){
        var can_submit = true;
        $(":text").each(function(index){
          if ($(this).attr('class') == "numeric_input_field"){
            if (!$.isNumeric($(this).val()) || $(this).val() < 0){
              can_submit = false;
              return false;
            }
          }
          else if ($(this).attr('class') == "text_input_field"){
            if (!this.value || !this.value.trim()){
              can_submit = false;
              return false;
            }
            else
              $(this).val($(this).val().trim());
          }
        });
        if (!can_submit)
          alert("Results failed to add. Incomplete or has invalid characters.");
        return can_submit;
      });
    });
    
  %body
    %div.background
      %span#header
        %span
          = image_tag("fm_icon.jpg", :height => "40", :alt => "image not found")
        %span
          %span#title Fruitful Minds: 
          %span#subtitle 
            =@subtitle
          %span#user_control
            - if @current_user
              %span.user_action
                = link_to "Previous", :portal, :method => :get
              %span.user_action
                = link_to "Log Out", logout_path, :id => "log_out"
      - if @current_user and @school
        %div#survey_options
          %p= "County: #{@school.county}"
          %p= "City: #{@school.city}"
          %p= "School Name: #{@school.name}"

    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      = yield
