!!! 5
%html
  %head
    %title Fruitful Minds
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  :css
    .background, #main{
      padding: 10px 20px 10px 20px;
    }
    #header span{
      font-weight: 500;
      position: relative;
    }
    #title{
      font-size: x-large;
      top: -10px;
    }
    #subtitle{
      font-size: large;
      top: -10px;
    }
    #survey_options{
      padding: 20px 0px 0px 0px;
    }

  %body
    %div.background
      %span#header
        %span
          = image_tag("fm_icon.jpg", :height => "45", :alt => "image not found")
        %span
          %span#title Fruitful Minds: 
          %span#subtitle 
            =@subtitle
      - if @current_user
        %div#survey_options
          %p= "County: #{@school.county}"
          %p= "City: #{@school.city}"
          %p= "School Name: #{@school.name}"

    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      = yield

    %div.background
      - if @current_user
        = link_to "Log Out", logout_path, :id => "log_out"
