!!! 5
%html
  %head
    %title Fruitful Minds
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  :css
    #header span{
      font-weight: 500;
      position: relative;
    }
    #title{
      font-size: x-large;
      top: -10px;
    }
    #subtitle{
      font-size: large;
      top: -10px;
    }
    #survey_options p{
      margin-bottom: -8px;
    }

  %body
    %span#header
      %span
        = image_tag("fm_icon.jpg", :height => "45", :alt => "image not found")
      %span
        %span#title Fruitful Minds: 
        %span#subtitle 
          =@subtitle
    %div#survey_options
      %p County:
      %p City:
      %p School Name:
      %p Survey Period:
    %br
    %br

    - if @current_user
      - school = session[:school]
      County:
      = school.county
      <br />
      City:
      = school.city
      <br />
      School Name:
      = school.name

    - if @current_user
      = link_to "Log Out", logout_path
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      = yield
    
